<ul class="nav">
    <li><i class="fa-solid fa-house"></i> <a href="/">Home</a></li>
    <li><i class="fa-solid fa-person-circle-plus"></i> <a href="/join">Join a Room</a></li>
    <li><i class="fa-solid fa-person-shelter"></i> <a href="/open">Create a Room</a></li>
    <li><i class="fa-solid fa-circle-user"></i> <a href="/settings">Settings</a></li>
</ul>