<ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/post">Post</a></li>
    <li><a href="/follow">Follow</a></li>
    <li><a href="/following">Following</a></li>
    <li><a href="/me">Me</a></li>
</ul>