<ul id="topbar" class="toolbar">
    <li class="subnav" tabindex="0" data-menu="file"><button class="btn">File</button>
        <ul class="dropdown" data-menu="file">
            <li data-action="save-canvas" tabindex="0">Export Canvas</li>
            <li data-action="save-layer" tabindex="0">Export Current Layer</li>
            <!--<li data-action="load" tabindex="0">Load</li>-->
        </ul>
    </li>
    <li class="subnav" tabindex="0" data-menu="edit"><button class="btn">Edit</button>
        <ul class="dropdown" data-menu="edit">
            <!--<li data-action="copy" tabindex="0">Copy</li>
            <li data-action="paste" tabindex="0">Paste</li>-->
            <li data-action="clear-layer" data-type="admin" class="disabled" tabindex="0">Clear Current Layer</li>
            <li data-action="change-canvas-size" data-type="admin" class="disabled" tabindex="0">Change Canvas Size</li>
        </ul>
    </li>
    <li class="subnav" data-menu="layers"><button class="btn">Layers</button>
        <ul class="dropdown" data-menu="layers">
            <li data-action="show-layers" tabindex="0">Change Layer</li>
            <li data-action="new-layer" data-type="admin" class="disabled" tabindex="0">Add New Layer</li>
            <li data-action="delete-layer" data-type="admin" class="disabled" tabindex="0">Delete Current Layer</li>
        </ul>
    </li>
    <li class="exit" tabindex="0"><button class="btn" id="exit">Exit</button>
    </li>
</ul>