<ul id="topbar" class="toolbar">
    <li class="subnav" tabindex="0" data-menu="file"><button class="btn">File</button>
        <ul class="dropdown" data-menu="file">
            <li data-action="save" tabindex="0">Save</li>
            <li data-action="load" tabindex="0">Load</li>
        </ul>
    </li>
    <li class="subnav" tabindex="0" data-menu="edit"><button class="btn">Edit</button>
        <ul class="dropdown" data-menu="edit">
            <li data-action="copy" tabindex="0">Copy</li>
            <li data-action="paste" tabindex="0">Paste</li>
            <li data-action="clear" tabindex="0">Clear</li>
        </ul>
    </li>
    <li class="subnav" data-menu="layers"><button class="btn">Layers</button>
        <ul class="dropdown" data-menu="layers">
            <li data-action="show-layers" tabindex="0">Select Layer</li>
            <li data-action="new-layer" tabindex="0">New Layer</li>
            <li data-action="delete-layer" tabindex="0">Delete Layer</li>
        </ul>
    </li>
    <li class="list">
        <ul id="layer_list">
            <li></li>
        </ul>
    </li>
</ul>