<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <script src="https://kit.fontawesome.com/4af4a76265.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/2.0.5/p5.min.js"></script>
</head>
<body id="paint">

    <div class="wrapper">
        <nav class="navbar"><%- include('../partials/toolbar.ejs') %></nav>
        <main><%- body %></main>
        <%- include('../partials/footer.ejs') %>
    </div>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/tools.js"></script>
    <script type="text/javascript" src="/js/stack.js"></script>
    <script type="text/javascript" src="/js/floodfill.js"></script>
    <script type="text/javascript" src="/js/UI.js"></script>
    <script type="text/javascript" src="/js/sketch.js"></script>
</body>
</html>