
<h1>Welcome</h1>
<p>Doodle some stuff with other people in public or private rooms.</p>
<h2>How to:</h2>
<ol>
    <li>Set your name and color <a href="/settings">on the settings page</a></li>
    <li>Join an <a href="/join">open room</a> or <a href="/open">create your own</a></li>
</ol>