<div>
    <div id="controls">
        <label for="tools">Tools:</label>
        <div id="tools">
            <div class="grid col-2">
                <button title="Undo" id="undo"><i class="fa-solid fa-rotate-left"></i>(Z)</button>
                <button title="Redo" id="redo"><i class="fa-solid fa-rotate-right"></i>(Y)</button>
            </div>
            <button title="Pen" id="pen"><i class="fa-solid fa-paintbrush"></i>(A)</button>
            <button title="Pencil" id="pencil"><i class="fa-solid fa-pencil"></i>(S)</button>
            <button title="Eraser" id="eraser"><i class="fa-solid fa-eraser"></i>(D)</button>
            <button title="Fill" id="fill"><i class="fa-solid fa-fill-drip"></i>(F)</button>
            <!--<button title="Selection" id="selecter"><i class="fa-regular fa-square-dashed"></i></button>-->
            <button title="Eyedropper" id="eyedropper"><i class="fa-solid fa-eye-dropper"></i>(E)</button>
            <button title="Zoom" id="zoom"><i class="fa-solid fa-magnifying-glass"></i>(R)</button>
        </div>
        <label for="color-select">Color & Alpha:</label>
        <div id="color-select">
            <input id="color-picker" oninput="set_color(this.parentNode)" type="color" data-color="black">
            <input id="alpha-picker" oninput="set_color(this.parentNode)" type="range" min="0" max="255" step="1" value="255" />
        </div>
        <input type="range" value="4" min="1" max="100" step="1" id="stroke-width-picker" class="stroke_width_picker" name="stroke_width" list="stroke_markers" />
        <datalist id="stroke_markers">
            <option value="1"></option>
            <option value="10"></option>
            <option value="20"></option>
            <option value="30"></option>
            <option value="40"></option>
            <option value="50"></option>
            <option value="60"></option>
            <option value="70"></option>
            <option value="80"></option>
            <option value="90"></option>
            <option value="100"></option>
        </datalist>
        <label for="stroke_width">Size (Q+/W-): <span id="current_stroke_width">4</span></label>
    </div>
        <div id="art">
        </div>
</div>
 <div id="chat">
    <div id="chatbox">
        <div id="chatwrap">
            <ul>
            </ul>
        </div>
        <div id="chatinput">
            <input type="text" id="chatmsg" placeholder="Chat..."/><button id="chatsend">Send</button>
        </div>
    </div>
    <div id="users"></div>
</div>