<div>
    <label for="username">Username:</label><input type="text" id="user" name="username" placeholder="Artist" value=""/>
    <label for="color">Color:</label><input type="text" name="color" id="ucolor" placeholder="#000000" value="">
    <div id="preview"></div>
    <button id="save">Save</button><button id="previewer">Preview</button>
</div>
<script type="text/javascript" src="/js/setup.js"></script>