* {
    box-sizing: border-box;
}
body, html {
    padding: 0;
    margin: 0
}
body {
    background-color: #222222;
    font-size: 16px;
}

.wrapper {
    width:100vw;
    background-color: rgb(34, 34, 34);
    margin: 0 auto;
}

header, footer {
    background-color: ghostwhite;
    padding: 20px;
}

main {
    background: gainsboro;
}
#art {
    border: 1px solid #ccc;
}

.layout-sidebar {
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 1fr;
}
.nav, .toolbar {
    list-style-type: none;
    margin: none;
}
.navbar {
    background: #ccc;
}
nav.navbar:has(.toolbar) {
    position: sticky;
    z-index: 1;
    top: 0px;
    left: 0px;
    background-color: rgba(248,248,255,0.8);
    height: 32px;
}
nav.navbar .nav, nav.navbar .toolbar {
    display: flex;
    flex-direction: row;
    grid-gap: 0.5em;
    margin: 0;
}
nav.navbar .toolbar .subnav, .subnav .dropdown {
    position: relative;
}
side.navbar .nav, .toolbar .subnav .dropdown {
    display: flex;
    flex-direction: column;
}
.toolbar .subnav .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    list-style-type: none;
    background: ghostwhite;
    border: 1px solid #ccc;
    padding: 0;
}
.toolbar .subnav .dropdown li {
    border-bottom:1px solid #ccc;
    padding: 0.2em 0.5em;
    cursor: pointer;
}
.toolbar .subnav .dropdown li:nth-child(2n+1) {
    background: #fff;
}
.toolbar .subnav .dropdown li:hover {
    background: rgb(254, 243, 201);
}
.toolbar .subnav .dropdown li:last-child {
    border: none;
}
ul.toolbar, ol, ul {
    margin: 0
}
.toolbar .subnav .dropdown.show {
    display: flex;
}
#art {
    width: var(--width);
    height: var(--height);
    position: relative;
}
canvas {
    position: relative;
    top: 0;
    left: 0;
    z-index: var(--z-index);
    user-select: none;
    cursor: none;
}
#layer_list {
	display: flex;
	list-style: none;
	grid-gap: 0.5em;
	flex-direction: row;
}
#layer_list li {
    opacity: 0.5;
}
#layer_list li.active {
    opacity: 1;
}

input.call-picker {
  border: 1px solid #AAA;
  color: #666;
  text-transform: uppercase;
  float: left;
  outline: none;
  padding: 10px;
  text-transform: uppercase;
  width: 85px;
}

.color-picker {
  width: 130px;
  background: #F3F3F3;
  height: 81px;
  padding: 5px;
  border: 5px solid #fff;
  box-shadow: 0px 0px 3px 1px #DDD;
  position: absolute;
  top: 61px;
  left: 2px;
}

.color-holder {
  background: #fff;
  cursor: pointer;
  border: 1px solid #AAA;
  width: 40px;
  height: 36px;
  float: left;
  margin-left: 5px;
}

input.stroke_width_picker {
  border: 1px solid #AAA;
  color: #666;
  text-transform: uppercase;
  float: left;
  outline: none;
  padding: 10px;
  text-transform: uppercase;
  width: 85px;
}
#controls, #tools {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    grid-gap: 5px;
    align-items: center;
}
#controls {
    width: auto;
    background: rgba(248,248,255,0.8)
}
#tools button {
    font-size: 1rem;
    margin: 0.2rem;
}
#tools button i {
    font-size: 1.7rem
}
#tools button.active {
    background: rgb(254, 243, 201);
}
#color-select {
  background-color: black;
  display: inline-block;
  visibility: hidden;
}

.dropper {
    cursor: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='var(--color)' transform='rotate(90)' viewBox='0 0 512 512'%3e%3cpath opacity='.4' d='M266.9 169L372.1 63.8c10.1-10.1 23.8-15.8 38.1-15.8 29.7 0 53.8 24.1 53.8 53.8 0 14.3-5.7 28-15.8 38.1L343 245.1 266.9 169z'/%3e%3cpath d='M208 177.9c-12.3-12.3-22.1-22.1-33.9-33.9l33.9-33.9 25 25c16.4-16.4 51.5-51.5 105.2-105.2 19.1-19.1 45-29.8 72-29.8 56.2 0 101.8 45.6 101.8 101.8 0 27-10.7 52.9-29.8 72-53.7 53.7-88.8 88.8-105.2 105.2 3.8 3.8 12.2 12.2 25 25L368 337.9c-45.4-45.4-76.9-76.9-135-135l-25-25zm58.9-9L343 245.1 448.2 139.9c10.1-10.1 15.8-23.8 15.8-38.1 0-29.7-24.1-53.8-53.8-53.8-14.3 0-28 5.7-38.1 15.8L266.9 169zm-97.8 37.9l33.9 33.9-79.1 79.1 136.2 0 11-11 33.9 33.9-137.1 137.1-88 0-48 32-32-32 32-48 0-88 137.1-137.1z'/%3e%3c/svg%3e") 0 0, pointer;
}
.eraser {
    cursor: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='var(--ucolor)' viewBox='0 0 576 512'%3e%3cpath d='M178.5 416l123 0 65.3-65.3-173.5-173.5-126.7 126.7 112 112zM224 480l-45.5 0c-17 0-33.3-6.7-45.3-18.7L17 345C6.1 334.1 0 319.4 0 304s6.1-30.1 17-41L263 17C273.9 6.1 288.6 0 304 0s30.1 6.1 41 17L527 199c10.9 10.9 17 25.6 17 41s-6.1 30.1-17 41l-135 135 120 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-288 0z'/%3e%3c/svg%3e") 0 0, pointer;
}

#color-select::before {
  content: "";
  position: absolute;
  border-radius: 3px;
  outline: black solid 2px;
  border: white solid 3px;
  height: 2rem;
  width: 2rem;
  pointer-events: none;
  background-color: inherit;
  visibility: visible;
  box-sizing: border-box;
}

#color-picker {
  opacity: 0;
  height: 2rem;
  width: 2rem;
  box-sizing: border-box;
  pointer-events: initial;
  visibility: visible;
}


#alpha-picker {
  filter: grayscale(100%);
  visibility: visible;
}
.grid {
    display: grid;
	align-items: flex-start;
}
.col-2 {
	grid-template-columns: auto auto;
}
.col-3 {
	grid-template-columns: auto auto auto;
}

#chat {
	position: fixed;
	bottom: 1em;
	left: 1em;
	background: #fff;
	width: 300px;
	word-wrap: break-word;
	border-radius: 5px;
	padding: 0.2em;
}
#chatwrap {
	height: 200px;
	overflow: auto;
}
#chatwrap ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#chatwrap li {
    padding: 0.5em;
    border-bottom: 1px solid #ccc;
}
#users::before {
    content: 'Connected Users:'
}

p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
button {
  margin-left: 1rem;
}